html {
  overflow: hidden;
}

#fullPageVid {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  /* position: absolute; */
}

#nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#nav .background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #101010;
}

#nav button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

#nav ul,
li {
  margin: 0;
  padding: 0;
}

#nav ul {
  padding: 25px;
  position: absolute;
}

#nav li {
  list-style: none;
  margin-bottom: 20px;
  /* display: flex; */
  /* align-items: center; */
  cursor: pointer;
  text-align: center;
  line-height: 1.1;
}

#nav li a {
  font-family: "Dosis";
  text-decoration: none;
  font-weight: 200 !important;
  font-size: 28px;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: color .2s;
}

#nav li a:hover {
  color: #68c072;
}

.time {
  color: white;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cityTitles {
  min-height: 207px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-text {
  position: relative;
  z-index: 99;
  width: 100%;
  height: 100%;
}

h2.hero-heading {
  /* visibility: hidden; */
  padding-bottom: 0.5em;
  text-align: center;
  font-size: 3em;
  line-height: 0.9em;
  letter-spacing: 7.5px;
  color: #fff;
  /* font-weight: 700; */
  text-transform: uppercase;
  text-shadow: 0px 0px 1px rgba(13, 13, 13, 0.9), 0px 2px 4px #0d0d0d;
  font-weight: 700;
  /* filter: text-shadow(0px 0px 1px rgba(13, 13, 13, 0.9)), text-shadow(0px 4px 8px #0D0D0D); */
}

h2.hero-heading span {
  font-size: 0.5em;
}

hr {
  content: "";
  background: #cdb083;
  /* bottom: 0%;
  left: 25%; */
  width: 100%;
  height: 2px;
  /* visibility: hidden; */
}

p.subheading {
  text-align: center;
  width: 100%;
  padding: 1.5em 0;
  font-family: "Proza Libre", sans-serif;
  font-weight: 800;
  /* color: rgb(238,232,170); */
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 1em;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.9), 0px 2px 4px #000000;

  /* visibility: hidden; */
}

.text-container {
  /* visibility: hidden; */
  /* background-color: rgba(10, 10, 10, 0.3); */
  padding: 1.5rem;
}

@media only screen and (max-width: 480px) {
  .cityTitles {
    min-height: 130px;
  }
}
